@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps|Spline+Sans:wght@500|Inter|Encode+Sans");

$ff-sx: "Merriweather", serif;
$ff-s: "Encode Sans", serif;
$ff-ss: "Six Caps", sans-serif;
$ff-sss: "Spline Sans", sans-serif;
$ff-ssss: "Inter", sans-serif;

$fw-n: 400;
$fw-b: 900;

@mixin sans-serif(
  $fs,
  $ls: 0.15em,
  $color: $dark-gray,
  $tt: uppercase,
  $lh: 1
) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff-ssss;
  font-weight: $fw-n;
}
